<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/editormd.min.css" />
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default  navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Highbury5
                </a>
            </div>
            <div class="collapse navbar-collapse margin-top-1" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills navbar-right">
                    <li ><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li ><a href="/archive/list"><span class="glyphicon glyphicon-align-justify"> Archive</span></a></li>
                    <li ><a href="/tag/show"><span class="glyphicon glyphicon-bookmark"> Tag</span></a></li>
                    <li ><a href="/about"><span class="glyphicon glyphicon-user"></span> About</a></li>
                </ul>
            </div>
        </div>
    </nav>

